{
  "trailingComma": "es5",
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "plugins": ["./node_modules/prettier-plugin-jsdoc"],
  "jsdocVerticalAlignment": true,
  "proseWrap": "never"
}
